<div>
    <h2 data-translate="animalSpottingApp.subscription.home.title">Subscriptions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="subscription.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="animalSpottingApp.subscription.home.createLabel">
                        Create new Subscription
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="animalSpottingApp.subscription.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.firstName"><span data-translate="animalSpottingApp.subscription.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="animal.name"><span data-translate="animalSpottingApp.subscription.animal">Animal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subscription in vm.subscriptions track by subscription.id">
                    <td><a ui-sref="subscription-detail({id:subscription.id})">{{subscription.id}}</a></td>
                    <td>{{subscription.description}}</td>
                    <td>
                        {{subscription.user.firstName}}
                    </td>
                    <td>
                        <a ui-sref="animal-detail({id:subscription.animal.id})">{{subscription.animal.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="subscription-detail({id:subscription.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="subscription.edit({id:subscription.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="subscription.delete({id:subscription.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
